body {
    background-color:  #FDA8BF;
    margin: 0px;
    max-width: 965px;
    max-height: 620px;
}

header {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 16px;
}

main.container {
    display: grid; /*Transformar em Grid*/
    grid-template-columns: 90px 280px 2fr; /* Criar 3 colunas*/
    min-height: calc(100vh - 50px); /*altura da tela inteira*/
}

.barra-lateral{
    background-color: grey;
    padding: 10px;
    border-right: 1px solid black;
    overflow: auto;
}

.menu-paginas{
    background-color:aliceblue;
    padding: 10px;
    border-right: 1px; 
    overflow:auto;
}

.bloco-notas{
    background-color:aliceblue;
    padding: 10px;
    min-width: 1027px 620px;
}


