<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bloco de Notas</title>
    <link rel="stylesheet" href="../static/CSS/Node2.css">
</head>
<body>
    <header>
          <img src="{{ url_for('static', filename='IMG/hello_kitty.webp') }}" width="30" height="30" class="d-inline-block align-top" alt="imagem da hello kitty">
    </header>
    <main class="container">

        <section class="barra-lateral">
            <aside class="menu-abas" id="aba-section">

                <div id="mensagem1">Adicione uma Aba.</div>
                
                <button onclick="buttonAba()">Adicionar Aba</button>
                
                <div id="inputNota"> 
                    <input type="text" placeholder="digite o nome para sua aba">
                    <ul id="ordemUL"></ul>
                </div>

            </aside>
        </section>
        
        <section class="menu-paginas">
            <div id="mensagem1">Adicione uma Página.</div>
            <button onclick="buttonPage()">Adicionar Página</button>
        </section>
            
        <section class="bloco_notas" >
                <p id="textP"></p>
                <textarea id="textTitle" placeholder="Digite o título.." style="width: 435px; height: 31px;"></textarea>
                <textarea id="textInput" placeholder="Escreva algo com o coração, pois sentimentos são eternos." style="height: 537px; width: 436px;"></textarea>
                <button onclick="SalvarBT()">Salvar Nota</button>
        </section>

        
    </main>

    <script src="../static/JS/botoes.js"></script>
</body>
</html>