<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bloco de Notas</title>
    <link rel="stylesheet" href="../static/CSS/Node2.css">
</head>
<body>
    <header>
          <img src="{{ url_for('static', filename='IMG/hello_kitty.webp') }}" width="30" height="30" class="d-inline-block align-top" alt="imagem da hello kitty">
    </header>
    <main class="container">

        <section class="barra-lateral">
            <aside class="menu-abas">
                <button>+ Adicionar Aba</button>
            </aside>
        </section>
        
        <section class="menu-paginas">
            <button>+ Adicionar Página</button>

            <article>
                <h3>Anotação 1</h3>
                <p>Prévia do texto...</p>
            </article>

            <article>
                <h3>Anotação 2</h3>
                <p>Prévia do texto...</p>
            </article>
        </section>
            
        <section class="bloco_notas" >
                <textarea id="textInput" placeholder="Digite o título.." style="width: 435px; height: 31px;"></textarea>
                <textarea id="titleInput" placeholder="Escreva algo com o coração, pois sentimentos são eternos." style="height: 537px; width: 436px;"></textarea>
        </section>

        
    </main>
</body>
</html>